<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="Cosmosdb.EndpointUrl" value="Enter your cosmos db EndpointUrl"/>
    <add key="Cosmosdb.SASKey" value="Enter cosmos db account primary/secondary key"/>
    <add key="Cosmosdb.Collection.Games.Name" value="Enter your collection/table name"/>
    <add key="Cosmosdb.Collection.Database.Name" value="Enter your cosmos database name"/>
  </appSettings>
</configuration>
